@import "./variables";

@mixin flex($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin flexBasic() {
  display: flex;
  align-items: center;  ;
}

@mixin flexFull($direction,  $justify, $wrap) {
  display: flex;
  align-items: center;  
  flex-direction: $direction;
  justify-content: $justify;
  flex-wrap: $wrap;
}

@mixin flexDirection($direction) {
  display: flex;
  align-items: center;
  flex-direction: $direction;;
}
