@import "../../styles/base/variables";
@import "../../styles/base/mixins";

.taskContainer {
  max-width: 60vw;
  margin: -12rem auto 0;
  padding: 70px 60px;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: $radius;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.taskHeader {
  @include flexFull(row, space-between, no-wrap);
    h2 {
      color: var(--gray-750);
      font-size: 2.25rem;
    }
}

.formGroup {
  @include flexBasic();
  gap: 0.75rem;

  input {
    flex: 1;
    background: var(--gray-50);
    border: 0;
    border-radius: $radiusSmall;
    color: var(--gray-800);
    padding: 0.75rem 1.5rem;
    outline: 0;
    width: 100%;

    &:focus {
      border: 1px solid var(--green-300);
    }

    &::placeholder {
      color: var(--gray-750);
    }
  }  
}

.buttonCreateTask {
  @include flexDirection(row);
  background: var(--green-500);
  border: 0;
  border-radius: $radiusSmall;
  color: var(--white);  
  font-weight: 600;
  padding: 0.875rem;
  outline: 0;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
    transition: all 0.2s;
  }
  &:focus{
    border: 1px solid var(--green-300);
  }
}

.taskList {
  margin-top: 3rem;

  ul {
    list-style: none;

    li {
      @include flex(space-between);      
      border-bottom: 1px solid var(--gray-50);
      padding: 1rem 0;      
    }

    div {
      @include flexBasic();
      gap: 0.875rem;
      outline: 0;
    
      p {
        font-size: 1em;
        color: var(--gray-800);
      }
    
      &.completed {
        p {
          text-decoration: line-through;
          opacity: 0.6;
        }
      }  
    }
  }
}


.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 0.875rem;
  margin-bottom: 1.125rem;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

  &:checked {
    & ~ .checkmark {
      background-color: var(--purple-700);
      transform: scale(1.0);
      transition: all 0.2s;
    }

    & ~ .checkmark:after {
      display: block;
    }
  }
} 
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-color: var(--gray-50);
  border-radius: 2px;
  transition: transform 0.2s;

  &:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 3px;
    width: 3px;
    height: 6px;
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.deleteButton { 
  background: transparent;
  border: 0;
  outline: 0;
    svg {
      color: var(--red-300);
    }

    &:hover {
      svg {
        filter: brightness(0.5);
      }
    }  
}